// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-thin.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedthin.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedthin.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-thinoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-thinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedthinoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedthinoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-thinitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-thinitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 100;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedthinitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedthinitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extralight.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextralight.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextralight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extralightoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextralightoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextralightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extralightitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 200;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextralightitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextralightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-light.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-light.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedlight.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedlight.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-lightoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-lightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedlightoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedlightoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-lightitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-lightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 300;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedlightitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedlightitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-regular.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extended.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extended.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-oblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-italic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendeditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendeditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-medium.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedmedium.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedmedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-mediumoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-mediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedmediumoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedmediumoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-mediumitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-mediumitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedmediumitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-semibold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedsemibold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedsemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-semiboldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-semiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedsemiboldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedsemiboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-semibolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-semibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedsemibolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedsemibolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-bold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedbold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedbold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-boldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-boldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedboldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-bolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedbolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedbolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extrabold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextrabold.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extraboldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextraboldoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextraboldoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extrabolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extrabolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 800;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedextrabolditalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedextrabolditalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-heavy.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    src: url('/assets/fonts/WOFF2/iosevka-extendedheavy.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedheavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: normal;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-heavyoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-heavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    src: url('/assets/fonts/WOFF2/iosevka-extendedheavyoblique.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedheavyoblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-heavyitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-heavyitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Iosevka Web';
    font-display: auto;
    font-weight: 900;
    font-stretch: expanded;
    font-style: italic;
    src: url('/assets/fonts/WOFF2/iosevka-extendedheavyitalic.woff2') format('woff2'), url('/assets/fonts/TTF/iosevka-extendedheavyitalic.ttf') format('truetype');
}

.site-logo {
    height: 40px;
    /* Adjust size as needed */
    vertical-align: middle;
    margin-right: 10px;
}

.site-title {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: $title-font-family;
}